<!DOCTYPE html>
<html lang="en">

<head>
{{> header}}
</head>

<body class="fix-header fix-sidebar card-no-border">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    {{> preloader}}
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        {{> topbar}}
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        {{> navbaruser}}
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-6 col-8 align-self-center">
                        <h3 class="text-themecolor m-b-0 m-t-0">Jawab Assessment</h3>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                            <li class="breadcrumb-item active">Jawab Assessment</li>
                        </ol>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <!-- Row -->
                {{!-- Start of Notifikasi --}}
                {{#if sessionFlash.message}}
                    <div class="alert alert-danger"> 
                        {{sessionFlash.message}}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                    </div>
                {{/if}}
                {{#if sessionFlash2.message}}
                    <div class="alert alert-success"> 
                        {{sessionFlash2.message}}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                    </div>
                {{/if}}
                {{!-- End of Notifikasi --}}
                {{!-- start of row --}}
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card card-outline-info">
                            <div class="card-header">
                                <h4 class="m-b-0 text-white">Form Jawab Assessment</h4>
                            </div>
                            <div class="card-block">
                                {{!-- start of form pilih event --}}
                                <form action="/assessmentuser" method="POST">
                                    <div class="form-body">
                                        <h4 class="card-title">Pilih Konsul</h4>
                                        <h6 class="card-subtitle"> Pilih konsultasi terlebih dahulu untuk bisa menjawab pertanyaan assessment</h6>
                                        <hr>
                                        {{!-- <h5 class="m-t-30">Single select2</h5> --}}
                                        <select class="select2" id="selectkonsul" name="selectkonsul" style="width: 100%" required>
                                            <option>-- Pilih Konsultasi --</option>
                                            {{#each datakonsul}}
                                                <option value="{{ id }}" {{#if ../selectkonsul}}{{#compare id ../selectkonsul operator="=="}}selected{{/compare}}{{/if}}>{{ nama }}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                    <hr>
                                    <div class="form-actions text-right">
                                        <button type="submit" class="btn btn-block btn-outline-success"> <i class="fa fa-check"></i> Pilih</button>
                                        <button type="reset" class="btn btn-block btn-outline-warning">Batal</button>
                                    </div>
                                </form>
                                {{!-- end of form pilih soal --}}
                            </div>
                        </div>
                    </div>
                </div>
                {{idu}}
                {{#if selectkonsul}}
                    {{#if jawaban}}
                    {{!-- start of row --}}
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-block">
                                    {{!-- start of form tampil pertanyaan dan jawaban --}}
                                    <div class="form-body">
                                        <h4 class="card-title">Form Jawaban</h4>
                                        <hr>
                                        <div class="row p-t-20">
                                            <div class="col-md-12">
                                                {{#each jawaban}}
                                                <div class="form-group" id="form-group">
                                                    {{!-- pertanyaan --}}
                                                    <label class="control-label">Pertanyaan {{counter @index}}:</label>
                                                    <div class="form-group">
                                                        {{pertanyaan}}
                                                    </div>
                                                    {{!-- jawaban --}}
                                                    <label class="control-label">Jawaban:</label>
                                                    <div class="form-group">
                                                        {{jawaban}}
                                                    </div>
                                                </div>
                                                <hr>
                                                {{/each}}
                                            </div>
                                        </div>
                                    </div>
                                    {{!-- end of form tampil pertanyaan dan jawaban --}}
                                </div>
                            </div>
                        </div>
                    </div>
                    {{else}}
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-block">
                                    {{!-- start of form jawab --}}
                                    <form action="" method="POST"></form>
                                        <div class="form-body">
                                            <h4 class="card-title">Form Jawab Pertanyaan</h4>
                                            <hr>
                                            <div class="row p-t-5">
                                                <div class="col-md-12">
                                                    {{#each pertanyaan}}
                                                    <div class="form-group" id="form-group">
                                                        {{!-- pertanyaan --}}
                                                        <label class="control-label">Pertanyaan {{counter @index}}:</label>
                                                        <div class="form-group">
                                                            {{pertanyaan}}
                                                        </div>
                                                        {{!-- jawaban --}}
                                                        <label class="control-label">Jawaban:</label>
                                                        <div class="form-group">
                                                            <textarea class="form-control" name="jawaban" id="jawaban" rows="10"></textarea>
                                                            <input type="text" id="peserta" name="peserta" value="{{../../../../idu}}">
                                                            <input type="text" id="idpertanyaan" name="idpertanyaan" value="{{idp}}">
                                                        </div>
                                                    </div>
                                                    <hr>
                                                    {{/each}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-actions text-right">
                                            <button type="submit" class="btn btn-block btn-outline-success"> <i class="fa fa-check"></i> Simpan</button>
                                            <button type="reset" class="btn btn-block btn-outline-warning">Batal</button>
                                        </div>
                                    </form>
                                    {{!-- end of form jawab --}}
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/if}}
                {{/if}}
                {{!-- end of row --}}
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            {{> footer}}
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    {{> plugins}}
    {{!-- <script src="/js/client/datatable/pertanyaan.js"></script>
    <script src="/js/client/modal/soal.js"></script>
    <script src="/js/client/adddiv/soal.js"></script> --}}
</body>

</html>
