<!DOCTYPE html>
<html lang="en">

<head>
{{> header}}
</head>

<body class="fix-header fix-sidebar card-no-border">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    {{> preloader}}
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        {{> topbar}}
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        {{> navbar}}
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-6 col-8 align-self-center">
                        <h3 class="text-themecolor m-b-0 m-t-0">Jawab Assessment</h3>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                            <li class="breadcrumb-item active">Jawab Assessment</li>
                        </ol>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <!-- Row -->
                {{!-- Start of Notifikasi --}}
                {{#if sessionFlash.message}}
                    <div class="alert alert-danger"> 
                        {{sessionFlash.message}}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                    </div>
                {{/if}}
                {{#if sessionFlash2.message}}
                    <div class="alert alert-success"> 
                        {{sessionFlash2.message}}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                    </div>
                {{/if}}
                {{!-- End of Notifikasi --}}
                {{!-- start of row --}}
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card card-outline-info">
                            <div class="card-header">
                                <h4 class="m-b-0 text-white">Form Jawab Assessment</h4>
                            </div>
                            <div class="card-block">
                                {{!-- start of form pilih event --}}
                                <form action="/soal" method="POST">
                                    <div class="form-body">
                                        <h4 class="card-title">Pilih Konsul</h4>
                                        <h6 class="card-subtitle"> Pilih konsultasi terlebih dahulu untuk bisa menjawab pertanyaan assessment</h6>
                                        <hr>
                                        {{!-- <h5 class="m-t-30">Single select2</h5> --}}
                                        <select class="select2" id="selectkonsul" name="selectkonsul" style="width: 100%" required>
                                            <option>-- Pilih Konsultasi --</option>
                                            {{#each datakonsul}}
                                                <option value="{{ id }}" {{#if ../selectkonsul}}{{#compare id ../selectkonsul operator="=="}}selected{{/compare}}{{/if}}>{{ nama }}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                    <hr>
                                    <div class="form-actions text-right">
                                        <button type="submit" class="btn btn-block btn-outline-success"> <i class="fa fa-check"></i> Pilih</button>
                                        <button type="reset" class="btn btn-block btn-outline-warning">Batal</button>
                                    </div>
                                </form>
                                {{!-- end of form pilih soal --}}
                            </div>
                        </div>
                    </div>
                </div>
                {{#if selectkonsul}}
                {{!-- start of row --}}
                <div class="row">
                    <div class="col-12">
                        <div class="card card-outline-info">
                            {{!-- <div class="card-header">
                                <h4 class="m-b-0 text-white">Form Assessment</h4>
                            </div> --}}
                            <div class="card-block">
                                {{!-- Start of tabel list soal --}}
                                <h4 class="card-title">List Soal</h4>
                                <h6 class="card-subtitle">Export data to Copy, CSV, Excel, PDF & Print</h6>
                                <hr>
                                <div class="table-responsive m-t-40">
                                    <table id="listPertanyaan" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th class="text-center">No.</th>
                                                <th class="text-center">Pertanyaan</th>
                                                <th class="text-center notexport">Aksi</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th class="text-center">No.</th>
                                                <th class="text-center">Pertanyaan</th>
                                                <th class="text-center notexport">Aksi</th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            {{#each pertanyaan}}
                                                <tr>
                                                    <td>{{counter @index}}</td>
                                                    <td>{{ pertanyaan }}</td>
                                                    <td class="text-center notexport">
                                                        <a href="javascript:void(0);" class=""><button type="button" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn edit" data-toggle="tooltip" data-original-title="Ubah" data-id="{{ idp }}" data-pertanyaan="{{ pertanyaan }}" ><i class="fa fa-pencil" aria-hidden="true"></i></button></a>
                                                        
                                                        <a href="javascript:void(0);" class=""><button type="button" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn delete" data-toggle="tooltip" data-original-title="Hapus" data-id="{{ idp }}" data-pertanyaan="{{ pertanyaan }}"><i class="fa fa-trash" aria-hidden="true"></i></button></a>
                                                    </td>
                                                </tr>
                                            {{/each}} 
                                        </tbody>
                                    </table>
                                </div>
                                {{!-- end of tabel list soal --}}
                            </div>
                        </div>
                    </div>
                </div>
                {{!-- end of row --}}
                {{!-- start of modal update soal --}}
                <form action="/soal/edit" method="post">
                    <div class="modal fade" id="modalEditsoal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="exampleModalLabel1">Ubah Pertanyaan</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label for="modalpertanyaan" class="control-label">Pertanyaan:</label>
                                        <textarea class="form-control modalpertanyaan" name="modalpertanyaan" id="modalpertanyaan" cols="30" rows="10"></textarea>
                                        <input type="hidden" class="form-control modalidpertanyaan" id="modalidpertanyaan" name="modalidpertanyaan">
                                        <input type="hidden" class="form-control" id="selectkonsul" name="selectkonsul" value={{ selectkonsul }}>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="reset" class="btn btn-warning" data-dismiss="modal">Batal</button>
                                    <button type="submit" class="btn btn-success">Ubah</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- end of modal update soal -->
                <!-- start of modal delete soal -->
                <form action="soal/delete" method="post">
                    <div class="modal fade" id="modalHapussoal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="exampleModalLabel1">Hapus Pertanyaan</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                </div>
                                <div class="modal-body">
                                    <strong>Anda yakin mau menghapus pertanyaan <label class="font-weight-bold judul"></label></strong>
                                    <input type="hidden" class="form-control modalidpertanyaanhapus" id="modalidpertanyaanhapus" name="modalidpertanyaanhapus">
                                    <input type="hidden" class="form-control" id="selectkonsul" name="selectkonsul" value={{ selectkonsul }}>
                                </div>
                                <div class="modal-footer">
                                    <button type="reset" class="btn btn-warning" data-dismiss="modal">Batal</button>
                                    <button type="submit" class="btn btn-danger">Hapus</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- end of modal delete soal -->
                {{!-- start of row --}}
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-block">
                                {{!-- start of form tambah data soal --}}
                                <form action="/soal/input" method="POST">
                                    <div class="form-body">
                                        <h4 class="card-title">Form Input Pertanyaan</h4>
                                        <hr>
                                        <div class="row p-t-20">
                                            <div class="col-md-12">
                                                <div class="form-group" id="form-group">
                                                    <label class="control-label">Pertanyaan:</label>
                                                    <div class="form-group" id="pertanyaan">
                                                        <input type="text" id="pertanyaan" name="pertanyaan" class="form-control" placeholder="Pertanyaan" required="required">
                                                    </div>
                                                    <input type="hidden" id="selectkonsul" name="selectkonsul" class="form-control" value="{{selectkonsul}}" required="required">
                                                </div>
                                            </div>
                                        </div>
                                        <button type="button" class="btn btn-outline-primary" id="tambahpertanyaan" name="tambahpertanyaan">Tambah Pertanyaan</button>
                                        <!--/row-->
                                    </div>
                                    <hr>
                                    <div class="form-actions text-right">
                                        <button type="submit" class="btn btn-block btn-outline-success"> <i class="fa fa-check"></i> Simpan</button>
                                        <button type="reset" class="btn btn-block btn-outline-warning">Batal</button>
                                    </div>
                                </form>
                                {{!-- end of form tambah data soal --}}
                            </div>
                        </div>
                    </div>
                </div>
                {{/if}}
                {{!-- end of row --}}
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            {{> footer}}
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    {{> plugins}}
    {{!-- <script src="/js/client/datatable/pertanyaan.js"></script>
    <script src="/js/client/modal/soal.js"></script>
    <script src="/js/client/adddiv/soal.js"></script> --}}
</body>

</html>
