<!DOCTYPE html>
<html lang="en">

<head>
{{> header}}
</head>

<body class="fix-header fix-sidebar card-no-border">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    {{> preloader}}
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        {{> topbar}}
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        {{> navbaruserkarir}}
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-6 col-8 align-self-center">
                        <h3 class="text-themecolor m-b-0 m-t-0">Kesimpulan Assessment Karir</h3>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Assessment Karir</a></li>
                            <li class="breadcrumb-item active">Kesimpulan Assessment Karir</li>
                        </ol>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <!-- Row -->
                {{!-- Start of Notifikasi --}}
                {{#if sessionFlash.message}}
                    <div class="alert alert-danger"> 
                        {{sessionFlash.message}}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                    </div>
                {{/if}}
                {{#if sessionFlash2.message}}
                    <div class="alert alert-success"> 
                        {{sessionFlash2.message}}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                    </div>
                {{/if}}
                {{!-- End of Notifikasi --}}
                {{#compare rating "true"}}
                {{!-- start of row --}}
                {{!-- d-flex justify-content-center mt-200 --}}
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-block">
                                <form action="rating/regis" method="POST">
                                    <div class="form-body">
                                        <h4 class="card-title">Berikan Rating Anda pada Psikolog {{#each kesimpulan}}<b>{{namapsikolog}}</b>{{/each}} Sebelum Melihat Kesimpulan</h4>
                                        <hr>
                                        <div class="row">
                                            <div class="col-md-12">   
                                                <div class="stars">
                                                    <input class="star star-5" id="star-5" type="radio" name="rate" value="5"/> 
                                                    <label class="star star-5" for="star-5"></label> 
                                                    
                                                    <input class="star star-4" id="star-4" type="radio" name="rate" value="4"/> 
                                                    <label class="star star-4" for="star-4"></label> 
                                                    
                                                    <input class="star star-3" id="star-3" type="radio" name="rate" value="3"/> 
                                                    <label class="star star-3" for="star-3"></label> 
                                                    
                                                    <input class="star star-2" id="star-2" type="radio" name="rate" value="2"/> 
                                                    <label class="star star-2" for="star-2"></label> 
                                                    
                                                    <input class="star star-1" id="star-1" type="radio" name="rate" value="1"/>
                                                    <label class="star star-1" for="star-1"></label> 
                                                </div>
                                                    
                                                <div class="form group">
                                                    Komentar Anda:
                                                    <textarea class="form-control" name="komentar" id="komentar" rows="10"></textarea>
                                                </div>
                                                <input id="psikolog" type="hidden" name="psikolog" value="{{#each kesimpulan}}{{idpsikolog}}{{/each}}"/>
                                                <input id="peserta" type="hidden" name="peserta" value="{{idu}}"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-actions text-right">
                                        <button type="submit" class="btn btn-block btn-outline-success"> <i class="fa fa-check"></i> Simpan</button>
                                        <button type="reset" class="btn btn-block btn-outline-warning">Batal</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                {{!-- end of row --}}
                {{/compare}}
                {{#compare rating "false"}}
                {{!-- start of row --}}
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-block">
                                {{!-- start of identitas peserta --}}
                                <div class="form-body">
                                    <h4 class="card-title">Biodata</h4>
                                    <hr>
                                    <div class="row p-t-20">
                                        <div class="col-md-12">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th class="text-nowrap" colspan="2">Biodata</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td class="text-nowrap"> <b>Nama</b> </td>
                                                        <td>{{#each biodata}} {{namapeserta}} {{/each}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-nowrap"> <b>Tempat/Tanggal Lahir</b> </td>
                                                        <td>{{#each biodata}} {{tempat_lahir}}/{{formatDate tanggal_lahir}} {{/each}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-nowrap"> <b>Jenis Kelamin</b> </td>
                                                        <td>{{#each biodata}} {{jenis_kelamin}} {{/each}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-nowrap"> <b>Pendidikan Terakhir</b> </td>
                                                        <td>{{#each biodata}} {{loud pendidikan_terakhir}} {{/each}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-nowrap"> <b>Asal Universitas</b> </td>
                                                        <td>{{#each biodata}} {{asal_universitas}} {{/each}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-nowrap"> <b>Jurusan</b> </td>
                                                        <td>{{#each biodata}} {{jurusan}} {{/each}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-nowrap"> <b>Nomor Kontak</b> </td>
                                                        <td>{{#each biodata}} {{phone}} {{/each}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                {{!-- end of identitas peserta --}}
                                {{!-- start of form tampil pertanyaan dan jawaban --}}
                                <div class="form-body">
                                    <h3 class="card-title">Form Jawaban</h3>
                                    <hr>
                                    <div class="row p-t-20">
                                        <div class="col-md-12">
                                            {{#each jawaban}}
                                            <div class="form-group" id="form-group">
                                                {{!-- pertanyaan --}}
                                                <label class="control-label"><h4>Pertanyaan {{counter @index}}:</h4></label>
                                                <div class="form-group">
                                                    {{pertanyaan}}
                                                </div>
                                                {{!-- jawaban --}}
                                                <label class="control-label"><h4>Jawaban:</h4></label>
                                                <div class="form-group">
                                                    {{jawaban}}
                                                </div>
                                                {{!-- sub pertanyaan dan sub jawaban --}}
                                                {{#if sub_jawaban}}
                                                    <label class="control-label"><h4>{{ sub_pertanyaan }}:</h4></label>
                                                    <div class="form-group">
                                                        {{sub_jawaban}}
                                                    </div>
                                                {{/if}}
                                                {{!-- jawaban essay --}}
                                                {{#if jawaban_essay}}
                                                    <label class="control-label"><h4>Penjelasan:</h4></label>
                                                    <div class="form-group">
                                                        <textarea class="form-control essayboxg" name="essayboxg" id="essayboxg" rows="10" readonly>{{jawaban_essay}}</textarea>
                                                    </div>
                                                {{/if}}
                                            </div>
                                            <hr>
                                            {{/each}}

                                            <div class="form-body p-t-20">
                                                {{!-- Start of tabel list acara --}}
                                                <h4 class="card-title">Kesimpulan</h4>
                                                <h6 class="card-subtitle">Export data to Copy, CSV, Excel, PDF & Print</h6>
                                                <hr>
                                                <div class="table-responsive m-t-40">
                                                    <table id="kesimpulan" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                                                        <thead>
                                                            <tr>
                                                                <th>Kesimpulan</th>
                                                                <th>Psikolog</th>
                                                            </tr>
                                                        </thead>
                                                        <tfoot>
                                                            <tr>
                                                                <th>Kesimpulan</th>
                                                                <th>Psikolog</th>
                                                            </tr>
                                                        </tfoot>
                                                        <tbody>
                                                            {{#each datakesimpulan}}
                                                                <tr>
                                                                    <td>{{kesimpulan}}</td>
                                                                    <td>{{loud namapsikolog }}</td>
                                                                </tr>
                                                            {{/each}}
                                                        </tbody>
                                                    </table>
                                                </div>
                                                {{!-- end of tabel kesimpulan --}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {{!-- end of form tampil pertanyaan dan jawaban --}}
                            </div>
                        </div>
                    </div>
                </div>
                {{!-- end of row --}}
                {{/compare}}
                <!-- ============================================================== -->
                <!-- End Page Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            {{> footer}}
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    {{> plugins}}
    <script src="/js/client/datatable/kesimpulan.js"></script>
    <script src="/js/client/modal/kesimpulan.js"></script>
</body>

</html>
