<!DOCTYPE html>
<html lang="en">

<head>
{{> header}}
</head>

<body class="fix-header fix-sidebar card-no-border">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    {{> preloader}}
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        {{> topbar}}
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        {{> navbarhome}}
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-6 col-8 align-self-center">
                        <h3 class="text-themecolor m-b-0 m-t-0">Room Video Call</h3>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                            <li class="breadcrumb-item active">Room Video Call</li>
                        </ol>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <!-- Row -->
                {{!-- Start of Notifikasi --}}
                {{#if sessionFlash.message}}
                    <div class="alert alert-danger"> 
                        {{sessionFlash.message}}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                    </div>
                {{/if}}
                {{#if sessionFlash2.message}}
                    <div class="alert alert-success"> 
                        {{sessionFlash2.message}}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                    </div>
                {{/if}}
                {{!-- End of Notifikasi --}}
                {{!-- start of row --}}
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card card-outline-info">
                            <div class="card-header">
                                <h4 class="m-b-0 text-white">Form Room Video Call</h4>
                            </div>
                            <div class="card-block">
                                {{!-- Start of tabel list room video call --}}
                                <h4 class="card-title">List Room Video Call</h4>
                                <h6 class="card-subtitle">Export data to Copy, CSV, Excel, PDF & Print</h6>
                                <hr>
                                <div class="table-responsive m-t-40">
                                    <table id="listVidcall" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th class="text-center">No.</th>
                                                <th class="text-center">Nama Room</th>
                                                <th class="text-center">URL Room</th>
                                                <th class="text-center">Psikolog Pengguna</th>
                                                <th class="text-center">Tanggal Dibuat</th>
                                                <th class="text-center">Jam Dibuat</th>
                                                <th class="text-center notexport">Aksi</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th class="text-center">No.</th>
                                                <th class="text-center">Nama Room</th>
                                                <th class="text-center">URL Room</th>
                                                <th class="text-center">Psikolog Pengguna</th>
                                                <th class="text-center">Tanggal Dibuat</th>
                                                <th class="text-center">Jam Dibuat</th>
                                                <th class="text-center notexport">Aksi</th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            {{#each listvidcall}}
                                            <tr>
                                                <td class="text-center">{{counter @index}}</td>
                                                <td class="text-center">{{ namaroom }}</td>
                                                <td class="text-center">{{ urlroom }}</td>
                                                <td class="text-center">{{ namapengguna }}</td>
                                                <td class="text-center">{{formatDate tanggaldibuat }}</td>
                                                <td class="text-center">{{formatTime jamdibuat }}</td>
                                                <td class="text-center notexport">
                                                    
                                                    <a href="javascript:void(0);" class=""><button type="button" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn delete" data-toggle="tooltip" data-original-title="Hapus" data-id="{{ id }}" data-nama="{{ namaroom }}"><i class="fa fa-trash" aria-hidden="true"></i></button></a>
                                                </td>
                                            </tr>
                                            {{/each}}
                                        </tbody>
                                    </table>
                                </div>
                                {{!-- end of tabel list users --}}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- start of modal delete users -->
                <form action="/room/delete" method="post">
                    <div class="modal fade" id="modalHapusroom" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="exampleModalLabel1">Hapus Room</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                </div>
                                <div class="modal-body">
                                    <strong>Anda yakin mau menghapus Room <label class="font-weight-bold judul"></label>?</strong>
                                    <input type="hidden" class="form-control modalidhapus" id="modalidhapus" name="modalidhapus">
                                    <input type="hidden" class="form-control modalnamahapus" id="modalnamahapus" name="modalnamahapus">
                                </div>
                                <div class="modal-footer">
                                    <button type="reset" class="btn btn-warning" data-dismiss="modal">Batal</button>
                                    <button type="submit" class="btn btn-danger">Hapus</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- end of modal delete users -->
                {{!-- start of row --}}
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-block">
                                {{!-- start of form tambah data psikolog --}}
                                <form action="/room/create" method="POST">
                                    <div class="form-body">
                                        <h4 class="card-title">Form Create Room</h4>
                                        <hr>
                                        <!--/row-->
                                        <div class="row p-t-20">
                                            <!--/span-->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">Nama Room</label>
                                                    <input type="text" id="nama" name="nama" class="form-control" placeholder="Nama" required="required">
                                                </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">Psikolog</label>
                                                    <select class="select2" id="psikolog" name="psikolog" style="width: 100%" required>
                                                        {{#each listpsikolog}}
                                                            <option value="{{ id }}" {{#if ../selectpart}}{{#compare id ../selectpart operator="=="}}selected{{/compare}}{{/if}}>{{ nama }}</option>
                                                        {{/each}}
                                                    </select>
                                                </div>
                                            </div>
                                            <!--/span-->
                                        </div>
                                        <!--/row-->
                                    </div>
                                    <hr>
                                    <div class="form-actions text-right">
                                        <button type="submit" class="btn btn-block btn-outline-success"> <i class="fa fa-check"></i> Simpan</button>
                                        <button type="reset" class="btn btn-block btn-outline-warning">Batal</button>
                                    </div>
                                </form>
                                {{!-- end of form tambah data psikolog --}}
                            </div>
                        </div>
                    </div>
                </div>
                {{!-- end of row --}}
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            {{> footer}}
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    {{> plugins}}
    <script src="/js/client/datatable/room.js"></script>
    <script src="/js/client/modal/room.js"></script>
</body>

</html>
